<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark navb">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add New</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="prodQuery" class="nav-link" routerLinkActive="active">Query List</a>
    </li>
    <li class="nav-item">
        <a routerLink="addProdQuery" class="nav-link" routerLinkActive="active">New Query</a>
    </li>
  </ul>
  
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<!-- <footer class="footer">
  <div class="container">
      <span>All Rights Reserved</span>
  </div>
</footer> -->
<nav class="navbar navbar-dark bg-primary  navbar-expand-lg ">
  <a class="navbar-brand" href="#" style="margin-left: 55px;">Home</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      
      
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>
<router-outlet>
  
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

  <!-- Toggleable sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="sidebar-item">
      <p><b>MM Ticket Dashboard</b></p>
    </div>
  
    <nav class="sidebar-nav">
      
      <!-- <a routerLink="home" class="sidebar-nav-item" href="/">Home</a> -->
      <a routerLink="add" class="sidebar-nav-item" routerLinkActive="active">Add New</a>

      <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="sidebar-nav-item" routerLinkActive="active">List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="sidebar-nav-item" routerLinkActive="active">Add New</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="prodQuery" class="sidebar-nav-item" routerLinkActive="active">Query List</a>
    </li>
    <li class="nav-item">
        <a routerLink="addProdQuery" class="sidebar-nav-item" routerLinkActive="active">New Query</a>
    </li>
  </ul>





      <a class="sidebar-nav-item" href="/get-started">Get Fetching</a>
      <a class="sidebar-nav-item" href="http://app.fetching.io/sessions/new">Login</a>
      <a class="sidebar-nav-item" href="/faq">FAQ</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/about">About</a>
      <a class="sidebar-nav-item" href="/privacy-policy">Privacy</a>
      <a class="sidebar-nav-item" href="/privacy-policy" data-uv-trigger>Contact Us</a>
  
  
      
    </nav>
  
  </div>
  <div class="wrap">
  </div>
  
  <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  
</router-outlet>
