<h2>Details</h2> 

<hr/>
<div *ngIf="prodQuery">
  <div>
    <label><b>First Name: </b></label> {{prodQuery.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{prodQuery.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{prodQuery.emailId}}
  </div> 

<div>
    <label><b>Customer Remarks: </b></label> {{prodQuery.note}}
  </div>
  <div>
    <label><b>Agent Remarks: </b></label> {{prodQuery.agentRemarks}}
  </div>

  <div>
    <label><b>Resolved: </b></label> {{prodQuery.isResolved}}
  </div>

  <div>
    <label><b>Current Status: </b></label> {{prodQuery.currentStatus}}
  </div>
  

</div>

<br>
<br>
<button (click)="queryList()" class="btn btn-primary">Back to List</button><br>


